.dialogBoard {  
  padding: 33px;
  text-align: center;
  color: #00D400;
  background: radial-gradient(50% 50% at 50% 50%, #153817 0%, #0A160D 100%);
  border: 2px solid #00D400;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 8px #00D400;
  border-radius: 4px;
}
.form__desc {
  margin: 2rem 0 2rem 0;
  color: rgba(255, 255, 255, 0.5);
}
.form {
 margin-bottom: 4rem;
}