.productList__item {
  list-style-type: none;
  margin: 10px;
  flex: 0 0 calc(32% - 0.625rem);
  // flex: 0 0 calc(31%);
}
.interface__goods {
  padding: 64px;
  // display: flex;
  // height: 100vh;
  // width: 100vw;
}
.inteface__goods_area {
  background: radial-gradient(50% 50% at 50% 50%, #003308 0%, #141414 100%);
  border: 2px solid #00D400;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 8px #00D400;
  border-radius: 4px;
  height: 100%;

}
.productList {
  // height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-content: stretch;
}
.product {

  flex-direction: column;
  display: flex;
  display: -webkit-flex;

  font-weight: bold;
  padding: 13px;
  background: black;
  color: white;
  margin-bottom: 10px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 4px;
}