.interface {
  display: flex;
}
.inteface__goods {
  background: #9dcfaa;
  flex: 1 1 auto;
}
.interface__control-panel {
  flex: 0 0 20rem;
  width: 10px;
  background: #9dcfaa;
  padding-right: 500px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}
.product-list__item {
  background: green;
  list-style-type: none;
  margin: 10px;
  flex: 0 0 calc(25% - 0.625rem);
  min-width: 25%;
}
.product {
  flex-direction: column;
  display: flex;
  font-weight: bold;
  padding: 10px;
}

.dialog-board {
  background-color: green;
  margin-bottom: 10px;
  margin-top: 25px;
  padding: 20px;
}

.form__desc {
  width: 200px;
}
.conclusion {
  display: flex;
}

flex: 1 1 auto;