html {
  background: linear-gradient(0deg, #1A1A1A, #1A1A1A);
}
body {
  font-family: PixelMiner;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 900;
  text-transform: uppercase;
}
ul, li, p {
  display: block;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "PixelMiner";
  src: url("./fonts/pixelMiner/PixelMiners-KKal.otf") format("truetype");
}



.interface {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.interface__control-panel {
  padding-top: 64px;
  flex: 0 0 30rem;
  -webkit-box-flex: 0;
  // overflow-y: scroll;
}
input {
  background: radial-gradient(50% 50% at 50% 50%, #153817 0%, #0A160D 100%);
  border: 2px solid #00D400;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 8px #00D400;
  border-radius: 4px;
  height: 55px;
  color: #00D400;
  font-family: PixelMiner;
  padding: 10px;
}

